@charset "UTF-8"; 
/*font*/
@import url("../font/remixicon.css"); /* 기본 아이콘 : http://remixicon.com/에서 확인가능 */

@font-face{
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:100;
    src:url('../font/NotoSansKR-Thin.woff2') format('woff2'),url('../font/NotoSansKR-Thin.woff') format('woff'), url('../font/NotoSansKR-Thin.otf') format('OpenType');
}
@font-face{
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:200;
    src: url('../font/NotoSansKR-Light.woff2') format('woff2'), url('../font/NotoSansKR-Light.woff') format('woff'), url('../font/NotoSansKR-Light.otf') format('OpenType');
}
@font-face{
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:300;
    src:url('../font/NotoSansKR-DemiLight.woff2') format('woff2'), url('../font/NotoSansKR-DemiLight.woff') format('woff'), url('../font/NotoSansKR-DemiLight.otf') format('OpenType');
}
@font-face{
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:400;
	src:url('../font/NotoSansKR-Regular.woff2') format('woff2'), url('../font/NotoSansKR-Regular.woff') format('woff'), url('../font/NotoSansKR-Regular.otf') format('OpenType');     
}
@font-face{
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:500;
    src: url('../font/NotoSansKR-Medium.woff2') format('woff2'), url('../font/NotoSansKR-Medium.woff') format('woff'), url('../font/NotoSansKR-Medium.otf') format('OpenType');
}
@font-face{
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:600;
    src:url('../font/NotoSansKR-Bold.woff2') format('woff2'), url('../font/NotoSansKR-Bold.woff') format('woff'), url('../font/NotoSansKR-Bold.otf') format('OpenType');
}
@font-face{
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:700;
    src:url('../font/NotoSansKR-Black.woff2') format('woff2'), url('../font/NotoSansKR-Black.woff') format('woff'), url('../font/NotoSansKR-Black.otf') format('OpenType');
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamRegular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; vertical-align:baseline; font-size:inherit; color:inherit; box-sizing:border-box; letter-spacing: -0.03em; } 
dl, ul, ol, menu, li { list-style:none } 
fieldset, img { border:0 none; box-sizing:border-box } 
input, select, textarea, button { vertical-align:middle; margin:0; padding:0; font-family:inherit; box-sizing:border-box } 
button { border:0 none; background-color:transparent; cursor:pointer; box-sizing:border-box } 
address, caption, cite, code, dfn, em, var { font-style:normal; font-weight:normal; box-sizing:border-box } 
input, textarea, img { max-width:100% } 
a, a:hover, a:visited, a:active { text-decoration:none } 
sup { font-size:small; vertical-align:text-top } 
sub { font-size:small; vertical-align:text-bottom } 
button, select { -webkit-appearance:none; appearance:none } 

select { min-width:105px; height:40px; color: #222; padding:8px 30px 8px 15px; border:1px solid #cccccc; font-size:1.6rem; background:#fff url(../img/comm/icon_select.png) no-repeat right 0;background-size: contain; box-sizing:border-box;letter-spacing: -0.03em;} 
select::-ms-expand { display: none; /* 화살표 없애기 for IE10, 11*/ } 
select.disabled,select:disabled { color:#999 !important; background:#fff url(/img/comm/icon_select.png) no-repeat right 15px center; } 
select+select { margin-left: 5px; } 
/* Hide Native Arrow IE 10, 11 */
table { width:100%; table-layout:fixed; border-collapse:collapse; border-spacing:0 } 
table caption { overflow: hidden; font-size: 0; line-height: 0; font-size: 0;height: 0;width: 1px;} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block } 

/* 사파리 기본 css제거 */
input[type=submit], input[type=button]{-webkit-appearance:none; -webkit-border-radius:0;}

/* HTML5 for older browsers */
section, main { display:block } 
img { vertical-align:top } 
h1, h2, h3, h4, h5, h6, em, strong { font-weight:600; } 

html, body{
    -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
    -ms-text-size-adjust : none;  /* IE */
    -moz-text-size-adjust : none;  /* 파이어폭스 */
    -o-text-size-adjust : none;  /* 오페라 구버전 */
  }

  ::selection {background: #1A4AA6;color: #fff;text-shadow: none;}
  ::-moz-selection {background: #1A4AA6;color: #fff;text-shadow: none;}
  
/* old 
-------------------------------------------------------------- */
.blind, .hidden { visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0 } 
.soundOnly { display:block !important; position:absolute !important; top:-9999px !important; left:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; border:0 !important; overflow:hidden !important; } 
.sr,.sr-only { clip: rect(1px, 1px, 1px, 1px); position: absolute; margin: -1px; height: 1px; width: 1px; border: 0; padding: 0; overflow: hidden; word-wrap: normal; } 
.al { text-align:left !important; } 
.ar { text-align:right !important; } 
.ac { text-align:center !important; } 
.vat { vertical-align:top !important; } 
.vam { vertical-align:middle !important; } 
.db { display:block !important; } 
.dib { display:inline-block !important; } 
.ws_nowrap { white-space: nowrap !important } 
.ws_wrap { white-space: normal!important } 
.fsn { font-style: normal } 
.clearfix:before, .clearfix:after { display: block; content: ''; line-height: 0; }
.clearfix:after { clear:both; }
.overlay {display: none; opacity: 0; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:0; -webkit-transform: translateZ(0) } 
br {visibility:hidden;}

/* flex 
-------------------------------------------------------------- */
.flex { display: flex } 
.f_ais { align-items: flex-start !important } 
.f_aie { align-items: flex-end!important } 
.f_aic { align-items: center !important } 
.f_dc { flex-direction: column !important } 
.f_dr { flex-direction: row !important } 

/* float 
-------------------------------------------------------------- */
.fl { float: left !important } 
.fr { float: right !important } 

/* height 
-------------------------------------------------------------- */
.h50 { height: 50px !important } .h70 { height: 70px !important } .h100 { height: 100px !important } .h150 { height: 150px !important } .h200 { height: 200px } .h300 { height: 300px } 

/* width 
-------------------------------------------------------------- */
.max { width:100%; } .half { width:50%; } 
.half + .half { width: calc(50% - 20px); margin-left: 10px } 
.w50 { width:50px; } .w70 { width:70px; } .w100 { width:100px; } .w120 { width:120px; } .w138 { width:138px; } .w140 { width:140px !important; } .w150 { width:150px; } .w200 { width:200px !important; } .w240 { width:240px; } .w270 { width:270px; } .w300 { width:300px; } .w350 { width:350px; } .w400 { width:400px; } .w520 { width:520px; } 

/* 말줄임 */
.dotdot { display: block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis } 

/* padding 
-------------------------------------------------------------- */
.pdt0 { padding-top:0px !important; } .pdt5 { padding-top:5px !important; } .pdt10 { padding-top:10px !important; } .pdt15 { padding-top:15px !important; } .pdt20 { padding-top:20px !important; } .pdb0 { padding-bottom:0px !important; } .pdb5 { padding-bottom:5px !important; } .pdb10 { padding-bottom:10px !important; } .pdb15 { padding-bottom:15px !important; } .pdb20 { padding-bottom:20px !important; } .pdr40 { padding-right:40px !important; } .pdl20 { padding-left:20px !important; } 

/* margin
-------------------------------------------------------------- */
.mgt0 { margin-top:0px !important; } .mgt5 { margin-top:5px !important; } .mgt10 { margin-top:10px !important; } .mgt15 { margin-top:15px !important; } .mgt20 { margin-top:20px !important; } .mgt30 { margin-top:30px !important; } .mgt40 { margin-top:40px !important; } .mgt45 { margin-top:45px !important; } .mgt50 { margin-top:50px !important; } .mgb0 { margin-bottom:0px !important; } .mgb5 { margin-bottom:5px !important; } .mgb10 { margin-bottom:10px !important; } .mgb15 { margin-bottom:15px !important; } .mgb20 { margin-bottom:20px !important; } .mgl0 { margin-left:0px !important; } .mgl5 { margin-left:5px !important; } .mgl10 { margin-left:10px !important; } .mgl15 { margin-left:15px !important; } .mgl20 { margin-left:20px !important; } .mgl40 { margin-left:40px !important; } .mgl70 { margin-left:70px !important; } .mgr0 { margin-right:0px !important; } .mgr5 { margin-right:5px !important; } .mgr10 { margin-right:10px !important; } .mgr15 { margin-right:15px !important; } .mgr20 { margin-right:20px !important; } .mgb10 { margin-bottom:10px; } 

/* color 
-------------------------------------------------------------- */
.b-point {color: #1a4aa6 !important;}
.r-point {color: #ff0000 !important;}

/********** 
Common element 
**********/
:lang(ko) { word-break:keep-all } 
:lang(en) { word-break:break-all } 
html { height:100%; font-weight:400; scroll-padding-top:80px; scroll-behavior: smooth; -ms-scroll-padding-top: 80px;font-size: 62.5%; } 
html * { font-family: 'NotoSansKR','Malgun Gothic', '맑은 고딕', Helvetica,'Apple SD Gothic Neo', Arial, Sans-serif; } 
body { line-height:1.6; color:#555;font-size: 1.6rem;} 

/* IPHONE */
input:disabled, textarea:disabled { opacity:1; -webkit-text-fill-color:inherit } 
textarea, input { border-radius:0 } 
/* 
textarea, input { -webkit-appearance:none; border-radius:0 } 
input[type="checkbox"], input[type="radio"] { opacity:0 } */

input[type="number"] { -webkit-appearance:none; appearance:none; box-shadow:none } 
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { -webkit-appearance:none; margin:0 } 
/*Normalize v8.0.0 | MIT License | github.com/necolas/*/
html { -webkit-text-size-adjust:100% } 
small { font-size:80% } 
sub, sup { position:relative; line-height:0; font-size:60%; vertical-align:baseline } 
sub { bottom:-0.25em } 
sup { top:-0.5em } 
button, input, optgroup, select, textarea { font-family:inherit; line-height:1.15; margin:0 } 
button, input { overflow:visible } 
button, select { text-transform:none } 
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance:button } 
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style:none; padding:0 } 
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline:1px dotted ButtonText } 
textarea { overflow:auto } 
[type="checkbox"], [type="radio"] { box-sizing:border-box; padding:0 } 
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height:auto } 
[type="search"] { -webkit-appearance:textfield; outline-offset:-2px } 
[type="search"]::-webkit-search-decoration { -webkit-appearance:none } 
input::-ms-clear, input::-ms-reveal { display:none; width:0; height:0 } 
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration { display:none } 
::-webkit-file-upload-button { -webkit-appearance:button; font:inherit } 
abbr[title] { border-bottom:none; -webkit-text-decoration:underline dotted; text-decoration:underline dotted } 
progress { vertical-align:baseline } 
details { display:block } 
summary { display:list-item } 
[hidden], template, hr { display:none } 

/* Input */
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"] { height: 38px; padding: 10px 15px; border:1px solid #b2b2b2; background-color: #fff; box-sizing: border-box; font-size: 1.6rem; color: #555 } 

textarea:-ms-input-placeholder {
    color: #757575;
    font-size: 1.6rem;
    font-weight: 300;
}

textarea::placeholder {
    color: #757575;
    font-size: 1.6rem;
    font-weight: 300;
}
input[type="text"].full, input[type="password"].full, input[type="number"].full, input[type="email"].full, input[type="tel"].full { width: 100% } 
input[type="text"].t01:-ms-input-placeholder, input[type="password"].t01:-ms-input-placeholder, input[type="number"].t01:-ms-input-placeholder, input[type="email"].t01:-ms-input-placeholder, input[type="tel"].t01:-ms-input-placeholder { color: #757575 } 
input[type="text"].t01::placeholder, input[type="password"].t01::placeholder, input[type="number"].t01::placeholder, input[type="email"].t01::placeholder, input[type="tel"].t01::placeholder { color: #757575 } 
label { font-size: 1.5rem; color: #757575 } 
label+input[type="text"], label+input[type="password"] { margin-left: 5px } 
label:first-child+input[type="text"], label:first-child+input[type="password"] { margin-left: 0 } 
label.essential::before { content: '*'; display: inline-block; margin-right: 4px; vertical-align: middle } 
input[type="text"]:not(.dates):read-only, input[type="password"]:read-only, input[type="number"]:read-only, input[type="email"]:read-only, input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="tel"]:disabled { background-color: #eee; color: #757575 } 
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
    color: #b8b8b8;
    font-size: 1.6rem;
    font-weight: 300;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    color: #b8b8b8;
    font-size: 1.6rem;
    font-weight: 300;
}
textarea { resize: none; width: 100%; min-height: 140px; padding: 10px 20px; border: 1px solid #e1e1e1; background-color: #fff; box-sizing: border-box; font-size: 1.6rem; line-height: 24px; color: #555 } 
::-webkit-input-placeholder { color: #b8b8b8 !important; font-weight: normal; font-style: normal } 
::-moz-placeholder { color: #b8b8b8 !important; font-weight: normal; font-style: normal } :-ms-input-placeholder { color: #b8b8b8 !important; font-weight: normal !important; font-style: normal } :-moz-placeholder { color: #b8b8b8 !important; font-weight: normal; font-style: normal } 

@media screen and (max-width:767px){

}

/* radio */
input[type="radio"] {width: 22px;height: 22px;}
input[type="radio"]:checked {border: 1px solid #5b5b5b;}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 22px;
    display: inline-block;
    color: #000;
    letter-spacing: -0.05em;
    font-size: 1.6rem;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #c6c6c6;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:before {
    border: 1px solid #4d4d4d;
}
[type="radio"]:focus-within + label:before{
    outline: 2px solid #1A7E9E;
    border-color: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 16px;
    height: 16px;
    background: #4d4d4d;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* radio button */

/*checkbox*/

/* 달력 */
.ui-datepicker,
#ui-datepicker-div { padding: 0; width: 272px !important; border: 1px solid #c5c5c5 !important; display: none;} 
.ui-widget-header {}
.ui-datepicker .ui-widget-header { background: #fff; border: none; border-bottom: 1px solid #ddd; border-radius: 0; }
.ui-datepicker .ui-datepicker-title { margin: 0; text-align: center; padding: 7px 0; }
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { margin: 0 3px; width: 45%; border-color: #999999; }
.ui-datepicker select.ui-datepicker-year + select.ui-datepicker-month { margin-left: 5px; }
.ui-datepicker table { background: #ebf7ff; margin-bottom: 0; border-top: 0; }
.ui-datepicker th { padding: 0; font-size: 12px !important; background: none !important; border: none !important; }
.ui-datepicker th,
.ui-datepicker td { height: 30px; border: none; text-align: center; padding: 0; vertical-align: middle;}
.ui-datepicker .ui-state-default,
.ui-datepicker.ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default,
.ui-datepicker .ui-button,
html .ui-datepicker .ui-button.ui-state-disabled:hover,
html .ui-datepicker .ui-button.ui-state-disabled:active { border: none; text-align: center; font-size: 1.4rem; background: #ebf7ff; color: #454545 !important;font-weight: 500; }
.ui-datepicker .ui-state-highlight, .ui-datepicker.ui-widget-content .ui-state-highlight { border: 1px solid rgba(51,140,213,0.2); background: rgba(51,140,213,0.15); color: rgba(51,140,213,1) !important; }
.ui-datepicker-trigger{width: 20px;vertical-align: middle;margin-left: 5px;}
.date_box input[type="text"] {padding: 0 10px;}

/* --------------------------------------------------------------
Layout 
-------------------------------------------------------------- */
body {position: relative;}
body.active { overflow:hidden} 

#wrap { position:relative; min-width:320px; overflow:hidden; } 
.inner { width:1280px; margin:0 auto; } 
.container { position:relative; overflow:hidden; width:100%; margin:0 auto; min-height: 60vh;padding-bottom: 60px;} 
.contentWrap { margin:50px auto 0; width: 1200px;position: relative; } 
.contentWrap::before
.contentWrap::after {display: block;clear: both;content: "";}

#lnb + #content { float: left;padding: 0 0 0 260px;width: 100%;min-height: 100vh;} 
#content::before,
#content::after {display: block;content: "";clear: both;}
.content p[class*=list-depth1-dot]::before{top: 24px;}
.content *[class^=list-depth1-dot] li::before { top: 17px;} 

#skip_nav a { z-index:100000; position:fixed; top:0; left:0; width:1px; height:1px; margin-left:-1px; font-size:0; line-height:0; overflow:hidden; } 
#skip_nav a:focus,
#skip_nav a:active { width:100%; height:75px; margin:0; padding:0; background:#21272e; color:#fff; font-size:0.937rem; font-weight:bold; text-align:center; text-decoration:none; line-height:75px; } 

/* 헤더 */
.header {position: fixed;top: 0;left: 0;width: 100%;z-index: 1500;;transition: background 0.2s ease;}
.header::before { display: inline-block; content: ""; background-color: #fff; width: 100%; height: 255px; position: absolute; bottom: 0; z-index: -1; visibility: hidden; opacity: 0;transition: visibility .1s, opacity .1s; }/*20221220수정*/
.header.show::before { visibility:visible;opacity:1;}
.gnb { position: relative;width: 1500px;margin: 0 auto;}
.header:after { display: inline-block; content: ""; background-color: #3c6fd0; width: 100%; height: 1px; position: absolute; bottom: 0; z-index: 51; }
.gnb-inner { display: flex;align-items: center;justify-content: space-between;margin: 0 auto;width: 100%;}
.gnb-inner h1 {display: flex;align-items: center;}
.gnb-inner h1 > a {display: block;width: 221px;height: 20px;background: url(../img/main/logo.png) no-repeat 0 0;background-size: contain;}
.logo_bx {width: 326px;}
.logo_bx ul {display: flex;justify-content: space-between;}
.logo_bx ul > li > a {display: block;}
.logo_bx .bx_01 > a{background: url(../img/main/logo2.png) no-repeat 0 0;width: 128px;height: 39px;}
.logo_bx .bx_02 > a{background: url(../img/main/logo3.png) no-repeat 0 0;width: 183px;height: 29px;}

.gnb_list { display: flex; justify-content: center; align-items: center;margin-right: -40px;width: auto;font-size: 0;text-align: center;}
.gnb_list > li { display: inline-block;position: relative;}
.menu-link{display: flex;padding: 0 42px;justify-content: center; align-items: center;width: 100%;line-height: 110px;color: #222;font-size: 2.1rem;font-weight: 500;letter-spacing: -0.05em;}
.depth.show:after{  content: ""; display: block;z-index: 100;position: absolute; top: 0; left: 0; width: 100%; height: 2px;background-color: #3c6fd0;}
.depth { position: absolute; top: 110px; left: 0; width: 100%; height: 0;visibility: hidden; opacity: 0; transition: visibility .1s, opacity .1s; }
.depth:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; visibility: hidden; opacity: 0; background-color: #DFE7F6;transition: visibility .2s, opacity .2s; z-index: -1; }
.depth.show:before{visibility:visible;opacity:1;}
.depth.show:after{visibility:visible;opacity:1;}
.header.show .depth{height:255px;visibility:visible;opacity:1;}/*20221220수정*/

.depth .depth-item { text-align: center;}
.depth .depth-item ~ .depth-item {padding-top: 13px;}
.depth .depth-item:first-child {padding-top: 20px;}
.depth .depth-link {display: inline-block;color: #444; font-size: 1.7rem;letter-spacing: -0.05em;line-height: 1.4; transition: color .3s; }

.btn-bar{display: none;position:relative;width:30px;height:22px;font-size:0;text-align:right;border:0;}
.btn-bar::before, .btn-bar::after{content:"";position:absolute;left:0;width:100%;height:2px;background-color:#1a4aa6;transition:background-color .3s;}
.btn-bar::before{top:0;}
.btn-bar::after{bottom:0;}
.btn-bar .bar{display:inline-block;width:20px;height:2px;vertical-align:middle;background-color:#1a4aa6;transition:width .3s, background-color .3s;}
.btn-bar:hover .bar{width:100%;}

.header.hover .btn-bar::before, 
.header.hover .btn-bar::after, 
.header.hover .btn-bar .bar{background-color:#1a4aa6;}
.header .menu-link:hover{color:#1a4aa6!important;}
.menu-link.show {color:#1a4aa6!important;}
.depth .depth-link:hover,
.depth .depth-link:focus {color: #1a4aa6;font-weight: 600;}
.depth.show {border-color: #d1d7e3;border-top-width: 0;}

.header.show { height: 365px; background-color: #fff;box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.17);}/*20221220수정*/
.header.show::before {background-color: #f3f6fb;}
.header.show:after {background-color: #dee7f5;top: 110px;}
.header.show .gnb-inner h1 > a {}
.header.show .menu-link {color: #222;}
.header.show .logo_bx .bx_01 > a {background: url(../img/main/logo2.png) no-repeat 0 0;}
.header.show .logo_bx .bx_02 > a {background: url(../img/main/logo3.png) no-repeat 0 0;}

.header.floating { background-color: #fff;}
.header.floating::before {background-color: #f3f6fb;}
.header.floating:after {background-color: #dee7f5;top: 110px;}
.header.floating .gnb-inner h1 > a {}
.header.floating .menu-link {color: #222;}
.header.floating .logo_bx .bx_01 > a {background: url(../img/main/logo2.png) no-repeat 0 0;}
.header.floating .logo_bx .bx_02 > a {background: url(../img/main/logo3.png) no-repeat 0 0;}

/* mobile gnb */
body.mobile-wrap .gnb_mobile {display: block;}
.gnb_mobile { display: none; position: fixed; z-index: 1001; top: 0; right: 0; width: 75%;max-width: 400px; height: 100%; -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%); -webkit-transition: transform 0.5s ease-out; -moz-transition: transform 0.5s ease-out; -o-transition: transform 0.5s ease-out; transition: transform 0.5s ease-out; background-color: #fff;}
.gnb_mobile.active { -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); -o-transform: translateX(0px); transform: translateX(0px); }
.overlay.active { opacity: 0.8; display: block; visibility: visible; background: rgba(0, 0, 0, 0.6); z-index: 100; }

.mo-gnb-top {display: flex;flex-direction: column;padding: 10px;}
.mo-gnb-top .m_logo {width: 185px;height: 40px;}
.mo-gnb-top .utile {display: flex;}
.mo-gnb-top .utile li {position: relative;width: 15%;text-align: center;}
.mo-gnb-top .utile li:last-child a{padding-left: 10px;}
.mo-gnb-top .utile li ~ li::before {position: absolute;display: inline-block;content: "";top: 50%;left:0;transform: translateY(-50%);width: 1px;height: 50%;background-color: rgba(0,0, 0, 0.5);}

.mo-gnb-list {position: relative;margin-top: 50px;}
.mo-gnb-list .depth1_ul { font-size: 0; }
.mo-gnb-list .depth1_ul > li {display: inline-block;width: 100%;}
.mo-gnb-list .depth1_ul > li > a {position: relative;display: flex;align-items: center;justify-content: space-between;width: 100%;padding: 13px 30px;border-top: 1px solid #e1e1e1;}
.mo-gnb-list .depth1_ul > li:last-of-type > a {border-bottom: 1px solid hsl(0, 0%, 88%);}
.mo-gnb-list .depth1_ul > li.active > a,
.mo-gnb-list .depth1_ul > li > a:hover {color: #fff;background-color: #0253a5;}
.mo-gnb-list .depth1_ul > li.active > a > span,
.mo-gnb-list .depth1_ul > li > a:hover > span,
.mo-gnb-list .depth1_ul > li.active > a::after,
.mo-gnb-list .depth1_ul > li > a:hover::after {color: #fff;content: "\f1ae";}
.mo-gnb-list .depth1_ul > li > a::after {position: absolute;right: 15px;display: inline-block;color: #1a4aa6;font-style: normal; font-weight: normal; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "remixicon"; content: "\ea12";font-size: 25px;line-height: 0;}
.mo-gnb-list .depth1_ul > li > a > span{display: inline-block;color: #222222;font-size: 1.6rem;font-weight: 500;}    
.mo-gnb-list .depth2_ul {display: none;}
.mo-gnb-list .depth2_ul li.active {display: block;}
.mo-gnb-list .depth2_ul > li > a {display: flex;align-items: center;justify-content: space-between;width: 100%;background-color: #fff;border-top: 1px solid #e1e1e1;padding: 10px 30px;font-size: 1.5rem;}
.mo-gnb-list .depth2_ul > li:last-of-type > a {border-bottom: 0}
.mo-gnb-list .depth2_ul > li:first-of-type > a {border-top: 1px solid #e1e1e1;}
.mo-gnb-list .depth2_ul > li:first-of-type > a:first-of-type {border-top:none;}
.mo-gnb-list .depth2_ul > li.active > a,
.mo-gnb-list .depth2_ul > li > a:hover {color: #fff;background-color: #007bcb;font-weight: 600;}
.mo-gnb-list .depth2_ul > li > a:hover::after{color: #fff;}
.mo-gnb-list .depth1_ul > li:last-of-type .depth2_ul {border-bottom:1px solid #e1e1e1}


.all-menu-close {position: absolute;top: 10px;right: 15px;display: inline-block;width: 25px;height: 25px;}
.all-menu-close::before, .all-menu-close::after{content:"";position:absolute;top:50%;left:0;width:100%;height:2px;margin-top:-1px;background-color:#1a4aa6;transition:transform .3s;}
.all-menu-close:before{transform:rotate(45deg);}
.all-menu-close:after{transform:rotate(-45deg);}

/* footer */
#footer {width: 100%;height: 120px;}
#footer::before {position: absolute;z-index: -1;display: inline-block;content: "";width: 100%;height: 140px;background-color: #444754;}
.footer-inner {display: flex;align-items: flex-start;justify-content: space-between;padding: 30px 0;max-width: 1500px;height: 100%;margin: 0 auto;color: #fff;}
.footer-inner .f-left {flex: 1 0 auto;}
.footer-inner .f-left h2 {font-size: 1.8rem;letter-spacing: -0.07em;}
.footer-inner .f-left h2 > span {display: block;font-size: 1.3rem;}
.footer-inner .f-right {}
.footer-inner .f-right {font-size: 1.5rem;font-weight: 300;}
.footer-inner .f-right::before,
.footer-inner .f-right::after {display: block;content: "";clear: both;}
.footer-inner .f-right .footer-info {display: flex;}
.footer-inner .f-right address {font-weight: 300}
.footer-inner .f-right .copy {text-align: right;}
.footer-inner .link {padding-left: 105px;}
.footer-inner .link .item {color: #f2f758;text-decoration: underline;font-weight: 500;}

@media screen and (max-width:1499px){
    .gnb {padding: 0 20px;width: 100%;}
    .menu-link {font-size: 1.6rem;}
    .depth .depth-link {font-size: 1.5rem;}
}
@media screen and (max-width:1299px){
    .header.floating:after {top: 90px;}
    .header.floating .btn-bar::before,
    .header.floating .btn-bar::after,
    .header.floating .btn-bar .bar {background-color: #0253a5;}
    .header.hover {background-color: #fff;}
    .header.show{height: 90px;box-shadow: none;}
    .header.floating.show{height: 90px;}
    .header.show::before {background-color: #fff;}
    .header.show:after {top: 90px;}
    
    .mo-gnb-list .depth2_ul > li > a {position: relative;}
    .mo-gnb-list .depth2_ul > li > a:after { position: absolute;top: 50%;right: 15px; display: inline-block; color: #999999; font-style: normal; font-weight: normal; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "remixicon"; content: "\ea4e"; font-size: 25px; transition: all 0.2s; line-height: 0; }
    .mo-gnb-list .depth2_ul > li.active > a:after, 
    .mo-gnb-list .depth2_ul > li > a:hover:after {color: #fff;}
    .mo-gnb-list .depth2_ul li.no_depth.active  a::after,
    .mo-gnb-list .depth2_ul li.no_depth  a:hover::after {color: #fff;}
    .mo-gnb-list .depth2_ul li.no_depth a::after { position: absolute; right: 15px; display: inline-block; color: #999999; font-style: normal; font-weight: normal; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "remixicon"; content: "\ea6e"; font-size: 25px; line-height: 0; }
    .mo-gnb-list .depth3_ul {display: none;}
    .mo-gnb-list .depth3_ul.active {display: inline-block;}
    .mo-gnb-list .depth3_ul > li  {background-color: #f7f7f7;}
    .mo-gnb-list .depth3_ul > li > a {display: flex;align-items: center;padding: 10px 30px;border-top: 1px solid #e1e1e1;width: 100%;font-size:1.3rem;}
    .mo-gnb-list .depth3_ul > li.active > a ,
    .mo-gnb-list .depth3_ul > li > a:hover { color:#2f68c2; text-decoration: underline; } 
    .mo-gnb-list .depth3_ul > li > a:hover {font-weight: 500;}
    .mo-gnb-list .depth3_ul > li > a > span {margin-left: 10px;}
    .mo-gnb-list .depth3_ul > li > a::before {position: absolute;;display: inline-block;content: "";width: 4px;height: 4px;background-color: #606060;transition: all .2s;opacity: 0;}
    .mo-gnb-list .depth2_ul  li.active .depth3_ul li a:before {opacity: 1;}
    .gnb_list {display: none;}
    .gnb-inner {justify-content: space-between;}
    .logo_bx {display: none;}
    .gnb-inner h1 {height: 90px;}
    .btn-bar {display: block;}
    #footer {height: 120px;}
    #footer::before {height: 120px;}
    .footer-inner {padding: 20px 20px;justify-content: space-between;}
    .footer-inner .f-left {flex: initial;}
    .footer-inner .f-right {padding-left: 0;}
    .footer-inner .f-right .copy {text-align: left;}
    .footer-inner .link {padding-left: 25px;}
}
@media screen and (max-width:1024px){
    #footer {height: auto;}
    #footer::before {height: 100%;}
    .footer-inner {flex-direction: column;align-items: center;justify-content: center;text-align: center;}
    .footer-inner .f-left h2 {}
    .footer-inner .f-right {padding-top: 15px;}
    .footer-inner .f-right .copy {text-align: center;}
}
@media screen and (max-width:767px){
    html {font-size: 50%;}
    .header.show{height: 70px;}
    .header.floating.show{height: 70px;}
    .header.show:after {top: 70px;}
    .header.floating:after {top: 70px;}
    .gnb-inner h1 {height: 70px;}
    .gnb-inner h1 > a {width: 175px;height: 15px;}
    .btn-bar {width: 20px;height: 17px;}
    .btn-bar .bar {width: 13px;}
    .footer-inner {padding: 30px 20px;display: block;}
    .footer-inner .f-right address {word-wrap: break-word;word-break: break-all;}
    .footer-inner .link {padding-top: 10px;padding-left: 0;}
}
@media screen and (max-width:468px){
    
}

/* lnb */
#lnb { position: absolute;top: -50px;width: 220px;min-height: 330px; float: left; } 
#lnb .lnb-tit { position: relative;; width: 220px; height: 135px; background-color: #3c6fd0; text-align: center; } 
#lnb .lnb-tit h2 { display: flex;flex-direction: column;align-items: center;justify-content: center; width: 100%; height: 100%;color: #fff; font-size: 3.0rem;letter-spacing: -0.05em;line-height: 1.2;font-weight: 600;} 

#lnb .lnb_01 > li > a { display: flex; align-items: center; justify-content: space-between; padding: 9px 20px;min-height: 60px;border-bottom: 1px solid #e1e1e1; border-top: none; color: #222222; font-size: 1.8rem; transition:height .3s;line-height: 1.2;} 

#lnb .lnb_01 > li.no_depth > a::after { font-style: normal; font-weight: 500; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "remixicon"; content: "\ea6e"; display: inline-block; font-size: 26px; color: #fff; } 
#lnb .lnb_01 > li:not(.no_depth) > a::after { font-style: normal; font-weight: normal; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "remixicon"; content: "\ea4e"; display: inline-block; font-size: 26px; color: #fff;transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg) ;transition: transform 0.2s linear;} 
#lnb .lnb_01 > li > a:hover { background-color:#1a4aa6;color: #fff;} 
#lnb .lnb_01 > li.no_depth > a:hover::after { transition: transform 0.2s linear; } 
#lnb .lnb_01 > li:not(.no_depth) > a:hover::after { transition: transform 0.2s linear; } 


#lnb .lnb_01 > li.active > a {  background-color:#1a4aa6;color: #fff;} 
#lnb .lnb_01 > li.active > a::after {  background-color:#1a4aa6;color: #fff; } 
#lnb .lnb_01 > li.active > a + .lnb_02 {display: block;border-top:none;;margin-top: -2px;transition: transform 0.2s linear;}

#lnb .lnb_01 > li.current > a { background-color:#1a4aa6;color: #fff;} 
/*#lnb .lnb_01 > li.current > a::after { transform: rotate(-90deg); } *//*20221220수정*/
#lnb .lnb_01 > li.current > a + .lnb_02 {display: block;border-top:none;;margin-top: -2px;transition: transform 0.2s linear;}
#lnb .lnb_01 > li.current + li.active > a {border-top: none;}
#lnb .lnb_01 > li:not(.no_depth).current > a::after { transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg) } 

#lnb .lnb_01 > li.active + li.current a{border-top:none}
#lnb .lnb_02 { display: none; padding: 20px 20px 19px 30px; background-color: #f7f7f7;; } 
#lnb .lnb_02 > li ~ li { margin-top:5px; } 
#lnb .lnb_02 > li > a { display: block; position: relative; padding-left: 10px; font-size: 1.5rem; } 
#lnb .lnb_02 > li > a::before { position: absolute; top:50%; left:0; display: inline-block; content: ""; width: 3px; height: 3px; background-color: #606060; } 
#lnb .lnb_02 > li.active > a::after {position: absolute; top:-7px;right: 0;font-style: normal; font-weight: normal; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "remixicon"; content: "\ea6e"; display: inline-block; font-size: 2.4rem; color: #1a4aa6; transition: transform 0.2s linear;}
#lnb .lnb_02 > li > a:hover,
#lnb .lnb_02 > li.active > a{ color: #1a4aa6;font-weight: 600;} 
#lnb .lnb_02 > li > a:hover:before { background-color: #1a4aa6; } 

#lnb .tell_bx {display: flex;flex-wrap: wrap;align-items: center;justify-content: center;margin-top: 80px;padding: 22px 20px;width: 100%;background-color: #f1f1f1;border-top-left-radius: 30px;border-bottom-right-radius: 30px;}
#lnb .tell_bx .t_tit {color: #333;font-size: 1.6rem;font-weight: 600;text-align: center;letter-spacing: -0.05em;}
#lnb .tell_bx .info {margin-top: 10px;}
#lnb .tell_bx .info p {position: relative;color: #1a4aa6;font-weight: 600;line-height: 1.2;padding-left: 30px;}
#lnb .tell_bx .info .phone{ background: url(../img/sub/ico_as01.png) no-repeat left center;}
#lnb .tell_bx .info .email {margin-top: 10px;background: url(../img/sub/ico_as02.png) no-repeat left 5px;}
#lnb .tell_bx .info .email span {font-size: 1.5rem;}
#lnb .tell_bx .tell {display: block;margin-top: 15px;width: 100%;padding: 5px;background-color: #11a864;color: #fff;border-radius: 5px;text-align: center;}
#lnb .tell_bx .tell i {display: inline-block;margin-right: 5px;width: 16px;height: 16px;background: url(../img/sub/ico_as03.png);}
#lnb .side_bx {margin-top: 30px;}

/* tab */
.tab {margin-bottom:20px;}
.tab-list {display:flex;flex-wrap:wrap; gap:0}
.tab-list li {text-align:center; flex-basis: calc(20% + 1px); justify-content: space-between; background: #fff; margin-right: -1px; flex-grow: 0}
.tab-list li:last-of-type{ flex-grow: 1} 

.tab-item {display:table;margin-top: -1px;padding:0 0.8em;width:100%;height:55px;color:#606060;border:1px solid #d9d9d9;background-color:#fff;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;font-size:15px;}
.tab-item:hover, .tab-item:focus {background-color:#007bcb;border-color:#007bcb;color:#fff;word-break:break-all;}

.tab-list li.active .tab-item {color:#fff;background-color:#007bcb;border-color:#007bcb;}
.tab-title {display:table-cell;vertical-align:middle;word-break:keep-all;line-height:1.2;font-size: 1.071rem;}

.tab-category-list {position: relative;margin-bottom: 20px;;text-align: center;}
.tab-category-list::after {display: block;content: "";clear: both;}
.tab-category-list > li {display: inline-block;margin-left: -4px;width: 33.333333%;height: 50px;}
.tab-category-list > li.active {}
.tab-category-list > li.active .category-item {color: #222222;font-weight: 600;}
.tab-category-list > li.active .category-item::before {position: absolute;top:-4px;display: inline-block;content: "";width: 100%;height: 4px;;background-color: #00a6e7;}
.tab-category-list > li.active .category-item {border-bottom: none;}
.tab-category-list > li .category-item {margin-left: -1px;border: 1px solid #d9d9d9;position: relative;display: inline-flex;align-items: center;flex-direction: column;justify-content: center;width: 100%;height: 100%;font-size: 16px;}
.tab-category-list > li .category-panel {display: none;position: absolute; top: 50px; left: 0;margin-top: 40px;width: 100%; }
.tab-category-list > li .category-panel .board-top {text-align: left;}
.tab-category-list > li:first-of-type .category-panel {display: block;}
@media screen and (max-width:767px){
    .tab-list li{flex-basis: calc(33.333% + 1px);} 
    .tab-category-list{ overflow: hidden; overflow-x: auto; display: flex} 
    .tab-category-list > li{ width: auto; flex-basis: 50%; margin-left: 0; margin-right: -1px; padding-top: 4px} 
    .tab-category-list > li .category-item{ display: flex; font-size: 1.071rem; white-space: nowrap; padding: 0px 10px 0 10px; margin-left: 0} 
    .tab-category-list > li.active .category-item::before{ top: -4px} 
}

/* location */
.content_info {display: flex;flex-wrap: wrap;justify-content: space-between;align-items: flex-end;width: 100%;margin-bottom: 50px;}
.content_info > h2{color: #222;font-size: 4rem;line-height: 1;font-weight: 500;}
.location-list { position: relative;display: flex; align-items: center;min-width: 160px;height: 20px;padding: 0; font-size: 1.5rem;letter-spacing: -0.5px;} 
.location-list .loc { color: #777; display: flex;align-items: center;} 
.location-list .loc .home{display: inline-block;margin-top: -2px; width: 16px; height: 15px; background: url(../img/comm/home.png)no-repeat center;  }
.location-list .loc.home a { display: flex; align-items: center; font-size: 0; }
.location-list .subdepth ul{ display: flex; flex-direction: column; border: 1px solid  rgba(0,0,0,0); border-radius: 5px; background: #fff; transition: all .3s;z-index: 10;} 
.location-list .loc + .loc:before{ display: block;content: "";width: 6px;height: 12px;background: url(../img/comm/icon_arrow.png)no-repeat center;margin: 2px 15px 0;} 
.location-list .subdepth .curr{ order:1;}
.location-list .subdepth .curr a{ display: flex; color: #777;} 
.location-list .subdepth .curr a:after{content: '';} 
.location-list .subdepth .open{ border-color: rgba(0,0,0,0.6);} 
.location-list .subdepth .open .curr a:after{transform: rotate(0deg)} 
.location-list .subdepth li:not(.curr) {display: none; margin-top: 5px}
.location-list .subdepth .open li:not(.curr) {display: block;order: 2;}
.service_wrap .location-list {min-width: 175px;}
.intro_wrap .location-list {min-width: 140px;}

@media screen and (max-width:1299px){
    .contentWrap {width: 100%;margin: 30px auto;}
    #lnb {display: none;}
    #lnb + #content {padding: 0 15px;}
}
@media screen and (max-width:970px){
}
@media screen and (max-width:767px){
    .contentWrap {margin: 30px auto;}
    .content_info {margin-bottom: 20px;align-items: flex-start;}
    .content_info > h2 {width: 150px;font-size: 2.4rem}
    .location-list {font-size: 1.6rem;}
    .location-list .loc + .loc:before {font-size: 1.6rem;vertical-align: 0;margin: 0 5px 0;}
    .location-list .subdepth ul {position: absolute;top: -5px;margin-left: 16px;padding: 5px;}
    .location-list .subdepth .curr a {font-size: 1.6rem;line-height: 1.2;}
    .location-list .subdepth .curr a:after{font-style: normal; font-weight: normal; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "remixicon"; content: "\ea78"; color: #606060;margin: 0 3px; transform: rotate(180deg); transition: all .2s} 
    .location-list .loc ~ .loc:not(:last-child)::after { display: inline-block; content: "..."; }
    .location-list .loc ~ .loc:not(:last-child) a { display: none; }
}

/* 페이징 숫자 */
.board-paging {display: flex; justify-content: center; margin:50px auto 0; text-align:center;} 
.paging-list { display:inline-block; margin: 0 10px; font-size: 0; } 
.paging-list li { margin-left: -1px; float: left; } 
.arrow a { display:table; width:37px; height:37px; border:1px solid #c6c7cc;font-size:1.4rem; } 
.arrow:not(:first-child) a { margin-left: 10px; } 
.paging-list li:not(.arrow) a {margin-left: 10px;}
.paging-list li a.prev {margin-right: 0;}
.paging-list li a.next {margin-right: 0;}
.paging-list li a {display: table;width: 37px;height: 37px;font-size: 1.4rem;font-weight: 500;border:1px solid #c6c7cc;}
.paging-list li a > span { display:table-cell; vertical-align: middle; } 
.paging-list li.on a { background-color: #373737;color:#fff;text-decoration: underline } 
.paging-list li a:hover { background-color: #373737;color:#fff; text-decoration: underline; } 
.board-paging .prev { background:url(../../img/comm/list_prev02.png) no-repeat center; margin-right: 10px;} 
.board-paging .prev:hover { background-color:#fff; border:1px solid #c6c7cc; } 
.board-paging .first { background:url(../../img/comm/list_prev01.png) no-repeat center; } 
.board-paging .first:hover { background-color:#fff; border:1px solid #c6c7cc; } 
.board-paging .next { background:url(../../img/comm/list_next02.png) no-repeat center; } 
.board-paging .next:hover { background-color:#fff; border:1px solid #c6c7cc; } 
.board-paging .last { background:url(../../img/comm/list_next01.png) no-repeat center; } 
.board-paging .last:hover { background-color:#fff; border:1px solid #c6c7cc; } 

@media screen and (max-width:767px){
    .arrow:not(:first-child) a { margin-left: 5px; } 
    .arrow:not(:first-child) a {margin-left: 5px;margin-right: 5px;}
    .paging-list li:not(.arrow) a {margin-left: 5px;}
    .paging-list li a {width: 30px;height: 30px;}
}
/* modal */
.popupLayer{ background-color:rgba(0,0,0,.5); justify-content:center; align-items:center; position:fixed; top:0; left:0; right:0; bottom:0; display:none; padding:75px 30px 50px;z-index: 10000; } 
.dim { position: fixed; justify-content:center; align-items:center; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,.3); padding:30px 30px 50px; z-index: 10000; }
.popup{ width:100%; max-width:1150px; border-radius:30px;overflow:hidden; background-color:#fff; /* box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); */ }
.popup .red {color: #ff0000;font-size: 1.6rem;font-weight: 500;}
.popup-head {position: relative;padding: 30px 30px;text-align: left;}
.popup-head .close {position: absolute;top: 35px;right: 35px;width: 24px;height: 24px;background: url(../img/comm/icon_close.png)no-repeat center;text-indent: -9999px;}
.popup-head .head-title {color: #222;font-size: 2.6rem;font-weight: 600;letter-spacing: -2px;line-height: 1;}

.body-content{ word-break:break-word; overflow-y:auto; min-height:610px;max-height: 610px;}
.body-content::-webkit-scrollbar { width: 15px; }
.body-content::-webkit-scrollbar-thumb { background-color: #AFAFAF; border-radius: 10px; }
.body-content::-webkit-scrollbar-track { background-color: #d0d0d090; border-radius: 15px;}
.body-content::-webkit-scrollbar-thumb { background-color: #AFAFAF; border-radius: 10px; background-clip: padding-box; border: 2px solid transparent; }
.body-content > * {letter-spacing: -0.7px;}
.body-content .tit {padding: 20px 0 15px;color: #222;font-size: 1.6rem;font-weight: 500;}
.body-content .require {display: flex;}
.body-content .p-tit {position: relative;margin: 0 50px 0 30px;padding: 15px 20px;display: flex;align-items: center;justify-content: space-between;background-color: #002583;border-radius: 10px;}
.body-content .p-tit p {color: #fff;font-size: 1.571rem;font-weight: 400;}
.body-content .app-list .p-tit i {display: inline-block;width: 30px;min-width: 30px;height: 20px;background: url(../img/comm/icon_facility_off.png) no-repeat;background-size: cover;transform: rotate(180deg);transition: transform 0.2s linear;}
.body-content .app-list.active .p-tit i {transform: rotate(0)}
.body-content .app-list {overflow: hidden;padding-bottom: 40px;}
.body-content .app-list ~ .app-list {margin-top: 15px;}
.body-content .txt {font-size: 1.6rem;letter-spacing: -1px;text-align: right;}
.body-content .tb_top {margin: 0 50px 0 30px;padding: 20px 0;display: flex;align-items: center;justify-content: space-between;}
.body-content .tb_top select {width: 350px;}
.body-content .table_bx {padding: 0 30px 0 30px;margin-bottom: 0;}
.body-content .table_bx table { table-layout: auto; border-top: 1px solid #222; }
.body-content .table_bx table thead th {padding: 14px 20px;background-color: #dcedfe;}
.body-content .table_bx table tbody th {padding:15px 20px; border-right: 1px solid #cdcdcd; background: #f8f9fb;vertical-align: middle; font-weight: 500; color: #222; font-size: 1.6rem; text-align: center; }
.body-content .table_bx table .bl {border-left: 1px solid #cdcdcd;border-right: 1px solid #cdcdcd;}
.body-content .table_bx table td { padding: 15px 20px; font-size: 1.6rem;vertical-align: middle;text-align: center;}
.body-content .table_bx table tbody td:last-child { text-align: left;}
.body-content .table_bx table th,
.body-content .table_bx table td { border-bottom: 1px solid #cdcdcd;}
.body-content .table_bx table label {color: #222;font-size: 1.6rem;}
.body-content .table_bx table input {border-radius: 5px;width: 200px;}
.body-content .table_bx table .local select {width: 100%;}
.body-content button {margin-left: 5px;padding: 8px 20px;border-radius: 5px;height: 38px;color: #fff;font-size: 1.143rem;}
.body-content button.gray_bt {background-color: #7e7e7e;}
.body-content select {height: 38px;font-size: 1.6rem;}
.body-content input[type="text"] {font-size: 1.6rem;}
.body-content input[type="text"] + input[type="text"] {margin-left: 10px;}
.body-content .address_bx .add_bot {margin-top: 10px;}
.body-content .address_bx .add_bot input {width: 345px;}
.body-content .phone_bx {display: flex;align-items: center;}
.body-content .phone_bx select {width: 175px;}
.body-content .phone_bx input {width: 175px;}
.body-content .phone_bx span {display: inline-block;width: 28px;text-align: center;}
.body-content .email_bx select,
.body-content .email_bx input {width: 225px;}
.body-content .email_bx span {margin: 0 3px;}
.body-content .email_bx select {margin-left: 15px;}

.body-content .att_bx.file_bx input[type="text"] {width: 225px;}

.body-content .form_w {padding: 30px 50px;display: flex;}
.body-content .form_w .btn_bx {}
.body-content .form_w .btn_bx strong {margin-left: 15px;display: block;color: #ff0000;font-size: 1.6rem;font-weight: 500;}
.body-content .form_w .blue_bt {background-color: #115fa8;width: 105px;margin: 0 auto 5px;padding: 6px 5px;border-radius: 5px;height: 38px;color: #fff;font-size: 1.143rem;text-align: center;float: right;}
.body-content .form_bx {position: relative;padding: 0 10px 25px;display: flex;flex-direction: column;justify-content: space-between;width: 33.333%;border-top: 1px solid #222;border-bottom: 1px solid #e0e0e0;}
.body-content .form_bx input {width: calc(100% - 107px);border-radius: 5px;}
.body-content .form_bx .tit {padding-bottom: 10px;}
.body-content .form_bx .att_bx input[type="text"] {width: 65%;}

.body-content .privacy_bx {padding: 30px 50px 35px 30px;}
.body-content .privacy_bx .guide {margin:35px 0 10px;padding-top: 30px;border-top: 1px solid #cdcdcd;font-size: 1.143rem;color:#666}
.body-content .privacy_bx .blue.bot {text-indent: 25px}
.body-content .privacy_bx .check-list {display: flex;margin: 15px 0 20px;}
.body-content .privacy_bx .check-list li {width: 40%;}
.body-content .privacy_bx .check-list input[type=radio]+label {padding-left:40px;line-height:30px;font-size: 1.143rem;}
.body-content .privacy_bx .check-list input[type=radio]+label:before {position:absolute;display:inline-block;content:"";top:1px;left:1px;width:30px;height:30px;background:url(../img/comm/icon-check_off.png) no-repeat 0;box-sizing:border-box;}
.body-content .privacy_bx .check-list input[type=radio]:checked+label:before {background:url(../img/comm/icon-check_on.png) no-repeat 0;}
.body-content .privacy_bx .blue {color: #4472C4;font-size: 1.6rem;}
.body-content .privacy_bx .tit {padding-bottom: 10px;font-weight: 600;}
.body-content .privacy_bx .tit:first-child {padding-top: 0;}
.body-content .privacy_bx input[type=radio]+label,
.body-content .privacy_bx input[type=checkbox]+label {color: #666;font-size: 1.6rem;font-weight: 300;}
.body-content .policy{ overflow-y: auto; width: 100%; height: 100px;margin-bottom: 20px; padding: 15px; background-color: #f7f7f7;border: 1px solid #dadada; border-radius: 12px; font-size: 1.6rem; line-height: 1.4;}
.body-content .policy p {padding: 5px 0 10px;text-indent: 10px;}
.body-content .policy .in-tit {text-indent: 0;}
.body-content .policy .in-tit ~.in-tit{margin-top: 15px;}
.body-content .policy ul {margin-left: 10px;}
.body-content .policy ul li {line-height: 1.5;}

.policy::-webkit-scrollbar { width: 15px; }
.policy::-webkit-scrollbar-thumb { background-color: #cdcdcd; border-radius: 10px; }
.policy::-webkit-scrollbar-track { background-color: #d0d0d054; border-radius: 15px;}
.policy::-webkit-scrollbar-thumb { background-color: #cdcdcd; border-radius: 10px; background-clip: padding-box; border: 2px solid transparent; }

.popup-foot {padding: 30px 0 45px;text-align: center;}
.popup-foot .confirm_bt {width: 140px;height: 50px;background-color: #1f264d;color: #fff;border-radius: 5px;font-size: 1.6rem;font-weight: 400;letter-spacing: -1px;}

.body-content .att_bx {position:relative; width:100%;display: flex;}

.body-content .att_bx input[type="text"] {width: 100%;}
.body-content .att_bx input[type="file"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.body-content .att_bx label {display:inline-block; width:100px; height:38px;color:#fff; background-color:#7e7e7e;border-radius: 5px;font-size:15px; line-height:37px; text-align:center; cursor:pointer;font-size: 1.143rem;}
.body-content .att_bx input[type="text"]:disabled {font-size: 1.6rem;}
.body-content .att_bx input[type="file"] + label {margin-left: 10px;} 

.body-content .table_bx table .att_bx label {padding: 0 5px;color: #fff;font-size: 1.143rem;}

@media screen and (max-width:767px){
    .body-content .table_bx table colgroup {display: none;}
    .body-content .table_bx table td {padding-left: 10px;padding-right: 10px;}
    .body-content .table_bx table thead th,
    .body-content .table_bx table tbody th {padding-left: 10px;padding-right: 10px;}
}
@media screen and (max-width:468px){
    
}

/* 버튼 */
.btn {display: inline-block;padding: 5px 20px;width: 120px;line-height: 4rem;border-radius: 10px;color: #fff;font-size: 1.7rem;letter-spacing: -0.05em;}
.btn-blue {background-color: #002d8c}
.btn-green {background-color: #11a864}
.btn-gray {background-color: #3d424d}
.submit-btn {display: block;margin: 0 auto;padding: 19px;width: 340px;color: #fff;background-color: #11a864;border-radius: 5px;font-size: 2.2rem;text-align: center;line-height: 1;}
@media screen and (max-width:468px){
    .submit-btn {width: 100%;}
}

/* popup */
.daliyPopupPc { position: fixed; left: 0; top: 110px; width: auto; height: auto; z-index: 1400; }
.daliyPopupPc .popupAll {display: none !important;}
.daliyPopupPc .closePopAll { display: block !important; }
.daliyPopupPc .popupAll li { float: left; max-height:690px; margin-right: 5px; }
.daliyPopupPc .popupAll li.close{display: none !important;}
.daliyPopupPc .popupAll li .pop_item > a {display: inline-block;width: auto;height: 100%;margin: 10px;border: 5px solid #002060;background: #f2f2f2;padding: 10px;}
.daliyPopupPc .popupAll li .pop_item{border: 2px solid #2F528F;background: #fff;}
.daliyPopupPc .popupAll li .pop_item .pop_logo{background: url(../img/main/logo.png) no-repeat;background-size: 100%;width: 160px;height: 30px;}
.daliyPopupPc .popupAll li .pop_item .pop_inner{padding: 26px;border: 1px solid #DAE3F3;background: #fff;max-width: 400px;word-wrap: break-word;}
.daliyPopupPc .popupAll img {width: 100%;image-rendering: -webkit-optimize-contrast;max-width: 690px;}
.daliyPopupPc .closeBox { display: flex; align-items: center; background-color: rgba(0, 0, 0, 0.85); height: 34px; border-top: 1px solid rgba(255,255,255,.1); width: 100%; }
.daliyPopupPc .popupAll .pop_item div.closeBox { display: flex; align-items: center; flex-wrap: wrap; max-width: 910px; margin-right: -138px; }/*20221220수정*/
.daliyPopupPc .closeBox > a { width: 50%; height: 100%; text-align: center; display: flex; align-items: center; }
.daliyPopupPc .closeBox > a:first-child { border-right: 1px solid rgba(255,255,255,.1); }
.daliyPopupPc .closeBox > a > span { text-align: center; margin: 0 auto; font-size: 14px; line-height: 0; font-weight: 600; color: #d2d2d2; }

.pop-up { position: fixed; z-index: 9999; left: 0; top: 0; right: 0; bottom: 0;width: 100%; height: 100%; display: none;  background-color: rgba(0,0,0,0.65);}
.pop-up .container { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; }
.pop-up .boxWrap { display: block;text-align: center;width: 90%;margin: 0;}
.pop-up .closeBox { position: relative;z-index: 100;;display: flex; align-items: center; background-color: rgba(0, 0, 0, 0.85); height: 34px; border-top: 1px solid rgba(255,255,255,.1); width: 100%;}
.pop-up .closeBox > a { width: 50%; height: 100%; text-align: center; display: flex; align-items: center; }
.pop-up .closeBox > a:first-child { border-right: 1px solid rgba(255,255,255,.1); }
.pop-up .closeBox > a > span { text-align: center; margin: 0 auto; font-size: 14px; line-height: 0; font-weight: 600; color: #d2d2d2; }
.pop-up .slide_tool {padding: 10px 0;position: static;transform: translateX(0);width: 100%;margin: 0 auto;}
.pop-up .swiper-wrapper {height: auto;align-items: center;}
.pop-up .swiper-slide {position: relative;width: 100%;height: auto;overflow: hidden;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.pop-up .swiper-slide-active {z-index: 100;}
.pop-up .swiper-slide > a {display: block;width: 100%;height: auto;}
.pop-up .swiper-slide .img {display: inline-block;width: 100%;}
.pop-up .swiper-slide img {width: 100%;}
.pop-up .slide_tool [class*='swiper-button'] {width: 25px;height: 25px; display:none;}
.pop-up .play_pause {display: block;}
.pop-up .slide_tool .swiper-pagination {position: static;left: 0;transform: translateX(0);}
.close.swiper-slide{display: none;} 

.pop-up .swiper-slide .pop_item > a {display: inline-block;width: calc(100% - 20px);height: 100%;margin: 10px;border: 5px solid #002060;background: #f2f2f2;padding: 10px;}
.pop-up .swiper-slide .pop_item{width: 100%;height: 100%;border: 2px solid #2F528F;background: #fff;}
.pop-up .swiper-slide .pop_item .pop_logo{background: url(../img/main/logo.png) no-repeat;background-size: 100%;width: 160px;height: 30px;}
.pop-up .swiper-slide .pop_item .pop_inner{padding: 26px;border: 1px solid #DAE3F3;background: #fff;}

@media screen and (max-width:767px){
    .popupAll ul {display: flex;align-items: flex-start;}
    .daliyPopupPc .popupAll li {height: auto;}
    .pop-up .swiper-slide > a{height: auto;}
}
@media screen and (max-width:468px){
    .daliyPopupPc {display: none!important}
    .pop-up.openpopup { display: block }
    .pop-up .swiper-slide.swiper-slide-active {z-index:50}
    .pop-up .swiper-slide .pop_item .img.pop_inner {padding: 0;}
}
